* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       text-decoration: none !important;
       font-family: "Poppins", sans-serif;
}
:root {
       font-size   : 10px;
       --transition: 0.5s;
   
       --primary   : #313131;
       --dark      : var(--primary);
   
       --main      : #fff;
       --white       : var(--main);
   
       --index-big : 10;
       --index-mid : 5;
       --index-sma : 1;
}
body * {
       font-size: 1.6rem;
       color: var(--dark);
} 
   
   
/*-- Start Section Header 
--------------------------------*/  
.navigation {
       top: 0;
       width: 100%;
       padding: 5px 20px;
       background: #fff !important;
       border-bottom: 1px solid #31313121;
       z-index: var(--index-big);
}
      
       .navigation menu {
           list-style: none;
       }
      
       .navigation menu li {
           padding: 3px 2px;
           border-radius: 20px;
       }
   
       .navigation menu li:not(:last-child):hover {
           background: #eee;
       }
   
       .navigation menu li a {
           margin: 0px 20px;
           font-size: 1.5rem;
       }
   
       .navigation menu li:last-child {
           margin-left: 10px;
           background: var(--primary);
       }
   
       .navigation menu li:last-child:hover {
           box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
       }
   
       .navigation menu li:last-child a {
           color: var(--white);
       }
   
       .navigation button {
           height: 40px;
           width: 40px;
           background: var(--primary);
           border-radius: 50%;
           border: none;
       }
   
       .navigation :is(button:hover , button:active)  {
           background: var(--primary) !important;
       }
   
       .navigation button i {
           font-size: 1.7rem;
           color: var(--white);
       }
       /* mobile responsive media */
       @media screen and (max-width: 991px){     
           .navigation menu {
               margin-top: 15px;
           }
   
           .navigation menu li {
               margin: 5px 0px;
           }
   
           .navigation menu li:last-child {
               margin-left: 0px;
           }
       }


/* title
-------------------------- */
.title {
       margin: 100px auto 60px;
       padding: 70px;
       background: linear-gradient(#0009, #0009) ,url(../IMG/who\ are\ us.jpg) center/cover;
       border-radius: 20px;
       text-align: center;
}

       .title h1 {
              font-size: 4rem;
              font-weight: bold;
              color: #eee;
       }


/* Start Section who are us  
----------------------------------*/
#who-are-us {
       padding: 15px;
}
       #who-are-us .photo {
              height: 300px;
              width: 300px;
              margin-left: 30px;
              border-radius: 10px;
              border: 1px solid #0003;
              overflow: hidden;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       }
       #who-are-us .photo img {
              height: 100%;
              width: 100%;
              object-fit: cover;
       }

       #who-are-us h2 {
              margin-bottom: 10px;
              font-family: "Dancing Script", cursive;
              font-size: 4.5rem;
              font-weight: bold;
       }

       #who-are-us .Signature {
              font-family: "Qwitcher Grypen", cursive;
              font-size: 5.5rem;
       }

       
/* Start Section Footer
----------------------------------*/
footer {
       margin-top: 70px;
       padding: 30px 0;
       text-align: center;
       background: var(--primary);
       color: var(--white);
}